USE [master]
GO
/****** Object:  Database [EShopDB]    Script Date: 2/25/2021 8:48:13 AM ******/
CREATE DATABASE [EShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EShopDB', FILENAME = N'D:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EShopDB_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EShopDB]
GO
/****** Object:  Table [dbo].[City]    Script Date: 2/25/2021 8:48:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[cityId] [int] IDENTITY(1,1) NOT NULL,
	[cityName] [nvarchar](50) NULL,
	[countryId] [int] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[cityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 2/25/2021 8:48:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[countryId] [int] IDENTITY(1,1) NOT NULL,
	[countryName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[countryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 2/25/2021 8:48:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[districtId] [int] IDENTITY(1,1) NOT NULL,
	[districtName] [nvarchar](50) NULL,
	[cityId] [int] NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[districtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shop]    Script Date: 2/25/2021 8:48:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop](
	[shopId] [char](36) NOT NULL,
	[shopCode] [varchar](30) NOT NULL,
	[shopName] [nvarchar](100) NOT NULL,
	[address] [nvarchar](400) NOT NULL,
	[phone] [varchar](20) NULL,
	[taxCode] [varchar](50) NULL,
	[statusId] [int] NULL,
	[wardId] [int] NULL,
	[street] [nvarchar](50) NULL,
	[createDate] [datetime] NULL,
	[createUserId] [char](36) NULL,
 CONSTRAINT [PK_Shop] PRIMARY KEY CLUSTERED 
(
	[shopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusShop]    Script Date: 2/25/2021 8:48:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusShop](
	[statusId] [int] IDENTITY(1,1) NOT NULL,
	[statusName] [nvarchar](100) NULL,
 CONSTRAINT [PK_StatusShop] PRIMARY KEY CLUSTERED 
(
	[statusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/25/2021 8:48:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [char](36) NOT NULL,
	[userName] [nvarchar](20) NOT NULL,
	[password] [varchar](16) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[createDate] [datetime] NULL,
	[avatar] [nvarchar](400) NULL,
	[userGroupId] [int] NULL,
	[active] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ward]    Script Date: 2/25/2021 8:48:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ward](
	[wardId] [int] IDENTITY(1,1) NOT NULL,
	[wardName] [nvarchar](50) NULL,
	[districtId] [int] NULL,
 CONSTRAINT [PK_Ward] PRIMARY KEY CLUSTERED 
(
	[wardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([cityId], [cityName], [countryId]) VALUES (1, N'Hà Nội', 1)
INSERT [dbo].[City] ([cityId], [cityName], [countryId]) VALUES (2, N'Hải Phòng', 1)
INSERT [dbo].[City] ([cityId], [cityName], [countryId]) VALUES (3, N'Đà Nẵng', 1)
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([countryId], [countryName]) VALUES (1, N'Việt Nam')
INSERT [dbo].[Country] ([countryId], [countryName]) VALUES (2, N'Brunei')
INSERT [dbo].[Country] ([countryId], [countryName]) VALUES (3, N'Campuchia')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[District] ON 

INSERT [dbo].[District] ([districtId], [districtName], [cityId]) VALUES (1, N'Quận Hoàn Kiếm ', 1)
INSERT [dbo].[District] ([districtId], [districtName], [cityId]) VALUES (2, N'Quận Ba Đình', 1)
INSERT [dbo].[District] ([districtId], [districtName], [cityId]) VALUES (3, N'Quận Hai Bà Trưng', 1)
SET IDENTITY_INSERT [dbo].[District] OFF
GO
INSERT [dbo].[Shop] ([shopId], [shopCode], [shopName], [address], [phone], [taxCode], [statusId], [wardId], [street], [createDate], [createUserId]) VALUES (N'058385673df742409b3b3bf9b6d20000    ', N'S1016', N'DOVIDA -67 Cầu Giấy', N'67 Cầu Giấy 123', N'1000001', N'1001', 1, NULL, N'66 Cầu Giấy', CAST(N'2021-02-22T16:52:16.127' AS DateTime), NULL)
INSERT [dbo].[Shop] ([shopId], [shopCode], [shopName], [address], [phone], [taxCode], [statusId], [wardId], [street], [createDate], [createUserId]) VALUES (N'1104f3132ef14c73a9fd9111e34347f8    ', N's1032', N'DOVIDA 	86	Cầu Giấy', N'86	Cầu Giấy', N'4911243511', N'269339', 1, 1, N'86	Cầu Giấy', CAST(N'2021-02-22T09:05:53.150' AS DateTime), NULL)
INSERT [dbo].[Shop] ([shopId], [shopCode], [shopName], [address], [phone], [taxCode], [statusId], [wardId], [street], [createDate], [createUserId]) VALUES (N'1193319f63931c1eb7be406293204378    ', N's1000', N'DOVADI-138 TÔ HIỆU', N'138 TÔ HIỆU, HÀ ĐÔNG', N'02436622666', NULL, 1, 1, N'138 Tô hiệu', CAST(N'2021-02-20T00:00:00.000' AS DateTime), N'149fb958744f70c67709bf1378b8dc91    ')
GO
SET IDENTITY_INSERT [dbo].[StatusShop] ON 

INSERT [dbo].[StatusShop] ([statusId], [statusName]) VALUES (1, N'Đang hoạt động')
INSERT [dbo].[StatusShop] ([statusId], [statusName]) VALUES (2, N'Đã đóng cửa')
INSERT [dbo].[StatusShop] ([statusId], [statusName]) VALUES (3, N'Đang xây dựng')
SET IDENTITY_INSERT [dbo].[StatusShop] OFF
GO
INSERT [dbo].[User] ([userId], [userName], [password], [fullName], [createDate], [avatar], [userGroupId], [active]) VALUES (N'149fb958744f70c67709bf1378b8dc91    ', N'vuhieumisa', N'123456', N'Vũ Minh Hiếu', NULL, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Ward] ON 

INSERT [dbo].[Ward] ([wardId], [wardName], [districtId]) VALUES (1, N'Đại Kim', 1)
INSERT [dbo].[Ward] ([wardId], [wardName], [districtId]) VALUES (2, N'Định Công', 1)
INSERT [dbo].[Ward] ([wardId], [wardName], [districtId]) VALUES (3, N'Giáp Bát', 1)
SET IDENTITY_INSERT [dbo].[Ward] OFF
GO
ALTER TABLE [dbo].[Shop] ADD  CONSTRAINT [DF_Shop_statusId]  DEFAULT ((1)) FOR [statusId]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Country] FOREIGN KEY([countryId])
REFERENCES [dbo].[Country] ([countryId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Country]
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD  CONSTRAINT [FK_District_City] FOREIGN KEY([cityId])
REFERENCES [dbo].[City] ([cityId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[District] CHECK CONSTRAINT [FK_District_City]
GO
ALTER TABLE [dbo].[Shop]  WITH CHECK ADD  CONSTRAINT [FK_Shop_StatusShop] FOREIGN KEY([statusId])
REFERENCES [dbo].[StatusShop] ([statusId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Shop] CHECK CONSTRAINT [FK_Shop_StatusShop]
GO
ALTER TABLE [dbo].[Shop]  WITH CHECK ADD  CONSTRAINT [FK_Shop_User] FOREIGN KEY([createUserId])
REFERENCES [dbo].[User] ([userId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Shop] CHECK CONSTRAINT [FK_Shop_User]
GO
ALTER TABLE [dbo].[Shop]  WITH CHECK ADD  CONSTRAINT [FK_Shop_Ward] FOREIGN KEY([wardId])
REFERENCES [dbo].[Ward] ([wardId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Shop] CHECK CONSTRAINT [FK_Shop_Ward]
GO
ALTER TABLE [dbo].[Ward]  WITH CHECK ADD  CONSTRAINT [FK_Ward_District] FOREIGN KEY([districtId])
REFERENCES [dbo].[District] ([districtId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ward] CHECK CONSTRAINT [FK_Ward_District]
GO
/****** Object:  StoredProcedure [dbo].[Proc_DeleteShop]    Script Date: 2/25/2021 8:48:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[Proc_DeleteShop](@shopId char(36))
  as
  begin
		DELETE FROM Shop WHERE shopId = @shopId;
  end
GO
/****** Object:  StoredProcedure [dbo].[Proc_UpdateShop]    Script Date: 2/25/2021 8:48:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[Proc_UpdateShop](@shopId char(36), @shopCode varchar(30),@shopName nvarchar(100) ,@address nvarchar(400) , @phone varchar(20),@taxCode varchar(50),@statusId int,@wardId int ,@street nvarchar(50) ,@createDate datetime,@createUserId char(36))
  as
  begin
  update Shop set [shopCode] = @shopCode, [shopName] = @shopName, [address] = @address, [phone] = @phone,[taxCode]  = @taxCode  ,[statusId]  = @statusId ,[wardId] = @wardId   ,[street]  = @street ,[createDate]  = @createDate ,[createUserId] = @createUserId
  where [shopId] = @shopId

end
GO
/****** Object:  StoredProcedure [dbo].[SelectShop_Proc]    Script Date: 2/25/2021 8:48:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE proc [dbo].[SelectShop_Proc]
  AS
BEGIN	
	select s.shopId as shopIdString, s.shopCode, s.shopName, s.shopName, s.address, s.phone, s.taxCode, s.statusId, s.street, s.createDate from shop as s 
END
GO
/****** Object:  StoredProcedure [dbo].[SelectShopResult_Proc]    Script Date: 2/25/2021 8:48:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[SelectShopResult_Proc](@shopCode nvarchar(30) = N'', @shopName nvarchar(100) = N'', @address nvarchar(400) = N'', @phone nvarchar(20) = N'', @statusId nvarchar(8) = N'')
  AS
BEGIN		
	select s.shopId , s.shopCode, s.shopName, s.shopName, s.address, s.phone, s.taxCode, s.statusId, ss.statusName, s.street, s.createDate, u.userName as createUserName from shop as s left join StatusShop as ss on s.statusId = ss.statusId left join dbo.[User] as u  on s.createUserId = u.userId 
	where shopCode LIKE '%'+@shopCode+ '%'
	and shopName  LIKE '%'+@shopName+ '%' 
	and [address]  LIKE '%'+@address+ '%'
	and ([phone]  LIKE '%'+@phone+ '%' or [phone] is null)
	and (s.statusId  LIKE '%'+@statusId+ '%' or s.statusId is null)
	order by s.createDate desc
	
	

	END
GO
/****** Object:  StoredProcedure [dbo].[SelectShopResultALL_Proc]    Script Date: 2/25/2021 8:48:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[SelectShopResultALL_Proc]
  AS
BEGIN	
	select s.shopId , s.shopCode, s.shopName, s.shopName, s.address, s.phone, s.taxCode, s.statusId, ss.statusName, s.street, s.createDate, u.userName as createUserName from shop as s left join StatusShop as ss on s.statusId = ss.statusId left join dbo.[User] as u  on s.createUserId = u.userId
END
GO
USE [master]
GO
