.h-container{
    display: flex;
}

.h-container-column {
    display:flex;
    flex-direction:column;
}

.h-container-row {
    display:flex;
    flex-direction:row;
}


.h-container-end{
    display:flex;
    justify-content: flex-end;
}

.h-container-row-center {
    display:flex;
    flex-direction:row;
    align-items: center ; 
}
.h-container-center {
    display: flex;   
    align-items: center ; 

}

.h-container-end-center {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.h-container-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center ; 

}

.h-container-around-center {
    display: flex;
    justify-content: space-around;
    align-items: center ; 

}

.h-container-center-center {
    display:flex;
    justify-content: center;
    align-items: center;
}
.h-flex-wap{
    flex-wrap: wrap;
}
//cố định kích thước item
.h-flex-wap-center{    
    flex-wrap: wrap;
    align-content: center;
}

.h-flex-wap-between{    
    flex-wrap: wrap;
    align-content: space-between;
}

.h-flex-wap-around{    
    flex-wrap: wrap;
    align-content: space-around;
}


.h-flex-row-reverse {
    flex-direction: row-reverse;
}



.h-column-reverse {
    flex-direction: column-reverse;
}

.h-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-family: GoogleSans-Medium;
    color: #ffffff;
    margin: 0;
    
}

.h-item-link {
    padding: 0.7rem 1rem;
    margin: 0 0 0 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.h-item-link p{
    color: #9e9e9e;   
}

.h-item-link:hover p{
    color: #ffffff;   
}
.h-item-text{    
    margin-left: .8rem;
    display: inline-block;
}




