.h-icon {   
    overflow: hidden;     
    margin-right: .1rem;
    text-align: center;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}

.h-icon-nav{
    margin-left: .05rem;
    margin-right: .2rem;
    text-align: center;
    width: 1.6rem;
}

.h-icon-add {
    background-image: url('../assets/icon/common-icon.png');      
    background-position-x: -2px;
    background-position-y: -128px;
 }

 .h-icon-copy {
    background-image: url('../assets/icon/common-icon.png');      
    background-position-x: -51px;
    background-position-y: -52px;
 }
 .h-icon-edit {
    background-image: url('../assets/icon/common-icon.png');      
    background-position-x: -77px;
    background-position-y: -203px;
 }

 .h-icon-delete {
    background-image: url('../assets/icon/common-icon.png');      
    background-position-x: -102px;
    background-position-y: -203px;
 }

 .h-icon-refresh {
    background-image: url('../assets/icon/common-icon.png');      
    background-position-x: -127px;
    background-position-y: -201px;
 }

 .h-icon-refresh-active {
    background-image: url('../assets/icon/common-icon.png');      
    background-position-x: -851px;
    background-position-y: -127px;
 }

.h-icon-cancel {
    background-image: url('../assets/icon/common-icon.png');      
    background-position-x: -127px;
    background-position-y: -201px;
}

.h-icon-cancel-active {
    background-image: url('../assets/icon/common-icon.png');      
    background-position-x: -252px;
    background-position-y: -127px;
}

.h-icon-suppost {
    background-image: url('../assets/icon/common-icon.png');      
    background-position-x: -177px;
    background-position-y: -178px;
}


.h-icon-save {
    background-image: url('../assets/icon/common-icon.png');      
    background-position-x: -327px;
    background-position-y: -127px;
}

.h-icon-saveAndAdd {
    background-image: url('../assets/icon/common-icon.png');      
    background-position-x: -27px;
    background-position-y: -127px;
}

.h-icon-delete {
    background-image: url('../assets/icon/common-icon.png');      
    background-position-x: -1077px;
    background-position-y: -128px;
}

.h-icon-arow-left{
    background-image: url('../assets/icon/common-icon.png');      
    background-position-x: -702px;
    background-position-y: -127px;
}

.h-icon-arow-double-left{
    background-image: url('../assets/icon/common-icon.png');      
    background-position-x: -652px;
    background-position-y: -127px;
}

.h-icon-arow-right{
    background-image: url('../assets/icon/common-icon.png');      
    background-position-x: -752px;
    background-position-y: -127px;
}

.h-icon-arow-double-right{
    background-image: url('../assets/icon/common-icon.png');      
    background-position-x: -801px;
    background-position-y: -127px;
}

.h-icon-search {
    // background-image: url(../content/icon/search.png);
    background-repeat: no-repeat;
    background-position-y: -127px;
}




