/*combobox*/
select {
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height:40px;
    line-height: 40px;
    font-size: 13px;
    padding: .375rem .5rem;   
    color: #000000;
    font-size:medium;
}

option{
    height:40px;
    border:unset;
    color:#000000;
    line-height:40px;
    font-size:1rem;
    padding:.375rem .75rem;
}

    option:hover {
        background-color: #e5e5e5;
        color: #ffffff;
    }

    .form-group {
        margin-bottom: 0.8rem;
        width: 100%;
    }
    /*override bootrap*/
.form-control {
    height: 40px;
    margin:0 0 0 0;
    display: block;
    width: 100%;    
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;    
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-control:focus{
    border-color: #66afe9;
    outline: 0;
    // -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control.is-valid-fail {
  border-color: #dc3545;
    padding-right: 2.25rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAgVBMVEUAAADcNDTdMzPdMzPdMzPdMzPeMzPdMzPVKyvdMzPdMzPbJCTdMzPeMzPdMzPdMzPeMjLeMzPdMzPdMzPdMzPdMzPdMzPeMTHdMzPdMzPcMjLcMjLdMzP98fH99PT//f3////dNDTnb2/ncHDpfX3qfn7jVVXjV1ffPT340tL409M/dkBsAAAAHHRSTlMALJDU9NWRLQaV/Qe9v5b8LpLX8vXz9i+XvsCTg3++1AAAAAFiS0dEILNrPYAAAAAHdElNRQfiCwIRKQL9Ld4zAAAAiElEQVQY02VP7RKCIBC8yo8AU6QiNVTs03r/B+wOcEam/cHeLXN3uwCIzXaXJGmWg8eecePAmXB9QU0/0Hsghbnf0U5EJc5Xa4FLyMxaMDWksaDgGAsnOMeC/h8JS293E5bm/uzj6c1egrGXtW/iBp2KFov5852ROhdGlEu4RoS8slZaq6uk+gcWlhW3XCnXDgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0xMS0wMlQxNzo0MTowMiswMDowMN7nCQkAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMTEtMDJUMTc6NDE6MDIrMDA6MDCvurG1AAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position-x: 591px;
    background-position-y: 7px;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.input-search {
    padding-left: 40px;
}

.input-search::placeholder{
    font-size: 13px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12
{
  position: relative;
  min-height: 1px;  
}

@media (min-width: 768px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    float: left;
  }
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.33333333%;
  } 
}